/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/utility.scss */
.marginMiddle {
  margin: 0 auto;
}

/* line 5, ../sass/utility.scss */
.clearfix {
  height: 0;
  overflow: hidden;
  clear: both;
}

/* line 11, ../sass/utility.scss */
.fr {
  float: right;
}

/* line 14, ../sass/utility.scss */
.fl {
  float: left;
}

/* line 24, ../sass/utility.scss */
.mt_5 {
  margin-top: 5px !important;
}

/* line 24, ../sass/utility.scss */
.mr_5 {
  margin-right: 5px !important;
}

/* line 24, ../sass/utility.scss */
.mb_5 {
  margin-bottom: 5px !important;
}

/* line 24, ../sass/utility.scss */
.ml_5 {
  margin-left: 5px !important;
}

/* line 24, ../sass/utility.scss */
.pt_5 {
  padding-top: 5px !important;
}

/* line 24, ../sass/utility.scss */
.pr_5 {
  padding-right: 5px !important;
}

/* line 24, ../sass/utility.scss */
.pb_5 {
  padding-bottom: 5px !important;
}

/* line 24, ../sass/utility.scss */
.pl_5 {
  padding-left: 5px !important;
}

/* line 24, ../sass/utility.scss */
.mt_10 {
  margin-top: 10px !important;
}

/* line 24, ../sass/utility.scss */
.mr_10 {
  margin-right: 10px !important;
}

/* line 24, ../sass/utility.scss */
.mb_10 {
  margin-bottom: 10px !important;
}

/* line 24, ../sass/utility.scss */
.ml_10 {
  margin-left: 10px !important;
}

/* line 24, ../sass/utility.scss */
.pt_10 {
  padding-top: 10px !important;
}

/* line 24, ../sass/utility.scss */
.pr_10 {
  padding-right: 10px !important;
}

/* line 24, ../sass/utility.scss */
.pb_10 {
  padding-bottom: 10px !important;
}

/* line 24, ../sass/utility.scss */
.pl_10 {
  padding-left: 10px !important;
}

/* line 24, ../sass/utility.scss */
.mt_15 {
  margin-top: 15px !important;
}

/* line 24, ../sass/utility.scss */
.mr_15 {
  margin-right: 15px !important;
}

/* line 24, ../sass/utility.scss */
.mb_15 {
  margin-bottom: 15px !important;
}

/* line 24, ../sass/utility.scss */
.ml_15 {
  margin-left: 15px !important;
}

/* line 24, ../sass/utility.scss */
.pt_15 {
  padding-top: 15px !important;
}

/* line 24, ../sass/utility.scss */
.pr_15 {
  padding-right: 15px !important;
}

/* line 24, ../sass/utility.scss */
.pb_15 {
  padding-bottom: 15px !important;
}

/* line 24, ../sass/utility.scss */
.pl_15 {
  padding-left: 15px !important;
}

/* line 24, ../sass/utility.scss */
.mt_20 {
  margin-top: 20px !important;
}

/* line 24, ../sass/utility.scss */
.mr_20 {
  margin-right: 20px !important;
}

/* line 24, ../sass/utility.scss */
.mb_20 {
  margin-bottom: 20px !important;
}

/* line 24, ../sass/utility.scss */
.ml_20 {
  margin-left: 20px !important;
}

/* line 24, ../sass/utility.scss */
.pt_20 {
  padding-top: 20px !important;
}

/* line 24, ../sass/utility.scss */
.pr_20 {
  padding-right: 20px !important;
}

/* line 24, ../sass/utility.scss */
.pb_20 {
  padding-bottom: 20px !important;
}

/* line 24, ../sass/utility.scss */
.pl_20 {
  padding-left: 20px !important;
}

/* line 24, ../sass/utility.scss */
.mt_25 {
  margin-top: 25px !important;
}

/* line 24, ../sass/utility.scss */
.mr_25 {
  margin-right: 25px !important;
}

/* line 24, ../sass/utility.scss */
.mb_25 {
  margin-bottom: 25px !important;
}

/* line 24, ../sass/utility.scss */
.ml_25 {
  margin-left: 25px !important;
}

/* line 24, ../sass/utility.scss */
.pt_25 {
  padding-top: 25px !important;
}

/* line 24, ../sass/utility.scss */
.pr_25 {
  padding-right: 25px !important;
}

/* line 24, ../sass/utility.scss */
.pb_25 {
  padding-bottom: 25px !important;
}

/* line 24, ../sass/utility.scss */
.pl_25 {
  padding-left: 25px !important;
}

/* line 24, ../sass/utility.scss */
.mt_30 {
  margin-top: 30px !important;
}

/* line 24, ../sass/utility.scss */
.mr_30 {
  margin-right: 30px !important;
}

/* line 24, ../sass/utility.scss */
.mb_30 {
  margin-bottom: 30px !important;
}

/* line 24, ../sass/utility.scss */
.ml_30 {
  margin-left: 30px !important;
}

/* line 24, ../sass/utility.scss */
.pt_30 {
  padding-top: 30px !important;
}

/* line 24, ../sass/utility.scss */
.pr_30 {
  padding-right: 30px !important;
}

/* line 24, ../sass/utility.scss */
.pb_30 {
  padding-bottom: 30px !important;
}

/* line 24, ../sass/utility.scss */
.pl_30 {
  padding-left: 30px !important;
}

/* line 24, ../sass/utility.scss */
.mt_35 {
  margin-top: 35px !important;
}

/* line 24, ../sass/utility.scss */
.mr_35 {
  margin-right: 35px !important;
}

/* line 24, ../sass/utility.scss */
.mb_35 {
  margin-bottom: 35px !important;
}

/* line 24, ../sass/utility.scss */
.ml_35 {
  margin-left: 35px !important;
}

/* line 24, ../sass/utility.scss */
.pt_35 {
  padding-top: 35px !important;
}

/* line 24, ../sass/utility.scss */
.pr_35 {
  padding-right: 35px !important;
}

/* line 24, ../sass/utility.scss */
.pb_35 {
  padding-bottom: 35px !important;
}

/* line 24, ../sass/utility.scss */
.pl_35 {
  padding-left: 35px !important;
}

/* line 24, ../sass/utility.scss */
.mt_40 {
  margin-top: 40px !important;
}

/* line 24, ../sass/utility.scss */
.mr_40 {
  margin-right: 40px !important;
}

/* line 24, ../sass/utility.scss */
.mb_40 {
  margin-bottom: 40px !important;
}

/* line 24, ../sass/utility.scss */
.ml_40 {
  margin-left: 40px !important;
}

/* line 24, ../sass/utility.scss */
.pt_40 {
  padding-top: 40px !important;
}

/* line 24, ../sass/utility.scss */
.pr_40 {
  padding-right: 40px !important;
}

/* line 24, ../sass/utility.scss */
.pb_40 {
  padding-bottom: 40px !important;
}

/* line 24, ../sass/utility.scss */
.pl_40 {
  padding-left: 40px !important;
}

/* line 24, ../sass/utility.scss */
.mt_45 {
  margin-top: 45px !important;
}

/* line 24, ../sass/utility.scss */
.mr_45 {
  margin-right: 45px !important;
}

/* line 24, ../sass/utility.scss */
.mb_45 {
  margin-bottom: 45px !important;
}

/* line 24, ../sass/utility.scss */
.ml_45 {
  margin-left: 45px !important;
}

/* line 24, ../sass/utility.scss */
.pt_45 {
  padding-top: 45px !important;
}

/* line 24, ../sass/utility.scss */
.pr_45 {
  padding-right: 45px !important;
}

/* line 24, ../sass/utility.scss */
.pb_45 {
  padding-bottom: 45px !important;
}

/* line 24, ../sass/utility.scss */
.pl_45 {
  padding-left: 45px !important;
}

/* line 24, ../sass/utility.scss */
.mt_50 {
  margin-top: 50px !important;
}

/* line 24, ../sass/utility.scss */
.mr_50 {
  margin-right: 50px !important;
}

/* line 24, ../sass/utility.scss */
.mb_50 {
  margin-bottom: 50px !important;
}

/* line 24, ../sass/utility.scss */
.ml_50 {
  margin-left: 50px !important;
}

/* line 24, ../sass/utility.scss */
.pt_50 {
  padding-top: 50px !important;
}

/* line 24, ../sass/utility.scss */
.pr_50 {
  padding-right: 50px !important;
}

/* line 24, ../sass/utility.scss */
.pb_50 {
  padding-bottom: 50px !important;
}

/* line 24, ../sass/utility.scss */
.pl_50 {
  padding-left: 50px !important;
}

/* line 24, ../sass/utility.scss */
.mt_55 {
  margin-top: 55px !important;
}

/* line 24, ../sass/utility.scss */
.mr_55 {
  margin-right: 55px !important;
}

/* line 24, ../sass/utility.scss */
.mb_55 {
  margin-bottom: 55px !important;
}

/* line 24, ../sass/utility.scss */
.ml_55 {
  margin-left: 55px !important;
}

/* line 24, ../sass/utility.scss */
.pt_55 {
  padding-top: 55px !important;
}

/* line 24, ../sass/utility.scss */
.pr_55 {
  padding-right: 55px !important;
}

/* line 24, ../sass/utility.scss */
.pb_55 {
  padding-bottom: 55px !important;
}

/* line 24, ../sass/utility.scss */
.pl_55 {
  padding-left: 55px !important;
}

/* line 24, ../sass/utility.scss */
.mt_60 {
  margin-top: 60px !important;
}

/* line 24, ../sass/utility.scss */
.mr_60 {
  margin-right: 60px !important;
}

/* line 24, ../sass/utility.scss */
.mb_60 {
  margin-bottom: 60px !important;
}

/* line 24, ../sass/utility.scss */
.ml_60 {
  margin-left: 60px !important;
}

/* line 24, ../sass/utility.scss */
.pt_60 {
  padding-top: 60px !important;
}

/* line 24, ../sass/utility.scss */
.pr_60 {
  padding-right: 60px !important;
}

/* line 24, ../sass/utility.scss */
.pb_60 {
  padding-bottom: 60px !important;
}

/* line 24, ../sass/utility.scss */
.pl_60 {
  padding-left: 60px !important;
}

/* line 36, ../sass/utility.scss */
html, body {
  width: 100%;
  font: 12px "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB";
}

/* line 37, ../sass/utility.scss */
a {
  text-decoration: none;
}

/* line 38, ../sass/utility.scss */
input, textarea, button, legend, select, textarea {
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB";
}

/* line 39, ../sass/utility.scss */
.clear:after {
  clear: both;
  display: block;
  content: "";
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/* line 39, ../sass/utility.scss */
.clear {
  zoom: 1;
}

/* line 40, ../sass/utility.scss */
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
}

/* line 41, ../sass/utility.scss */
.img_gap1 {
  vertical-align: bottom;
  font-size: 0;
}

/* line 41, ../sass/utility.scss */
.img_gap2 {
  font-size: 0;
  margin-top: -1px;
}

/* line 42, ../sass/utility.scss */
.imgSpace, .img_space img {
  margin: auto 3px;
  cursor: pointer;
  display: inline-block;
}

/* line 43, ../sass/utility.scss */
.align_center {
  text-align: center;
}

/* line 43, ../sass/utility.scss */
.align_right {
  text-align: right;
}

/* line 43, ../sass/utility.scss */
.fltrt {
  float: right;
}

/* line 43, ../sass/utility.scss */
.fltlft {
  float: left;
}

/* line 44, ../sass/utility.scss */
.margin {
  margin-top: 10px;
}

/* line 44, ../sass/utility.scss */
.minHeight {
  min-height: 12px;
}

/* line 45, ../sass/utility.scss */
.width_wide {
  width: 1210px;
  margin: auto;
}

/* line 45, ../sass/utility.scss */
.width_narrow {
  width: 1000px;
  margin: auto;
}
